body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #333;
    color: #333;
}

#property-details-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#property-details-container img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

#property-details-container h2 {
    color: #333;
}

/* Add or update these styles in property-details.css */


.button-container {
    position: absolute;
    bottom: 150px;
    left: 50%;
    transform: translateX(20%);
    background-color: #f8f8f8;
    /* Set background color as needed */
    padding: 10px;
}

#wishlist-button,
#contact-button {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    /* Adjust as needed */
}

#wishlist-button:hover,
#contact-button:hover {
    background-color: #2980b9;
}

#wishlist-button img {
    width: 10px;
    /* Adjust the size of the icon */
    margin-right: 5px;
    /* Add spacing between icon and text */
}





.property-info {
    margin-bottom: 15px;
}

.property-info label {
    font-weight: bold;
}

.property-info p {
    margin: 5px 0;
}

#home-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-bottom: 20px;
}

#home-button:hover {
    background-color: #2980b9;
}

#property-description {
    margin-top: 20px;
}

#property-description label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

#property-description textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

/* Add this style to hide the contact form initially */
.hidden {
    display: none;
}





#contact-form {
    position: absolute;
    bottom: -150px;
    left: 50%;
    transform: translateX(40%);
    background-color: #f8f8f8;
    /* Set background color as needed */
    padding: 10px;
}

#contact-form h2 {
    color: #333;
}

#seller-contact-form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;

}

#seller-contact-form label {
    margin-bottom: 5px;
}

#seller-contact-form input,
#seller-contact-form textarea {
    margin-bottom: 10px;
    padding: 8px;
}

#seller-contact-form button {
    background-color: #3498db;
    /* Blue color */
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#seller-contact-form button:hover {
    background-color: #2980b9;
    /* Darker blue on hover */
}